<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
		package="de.mysmartgrid.mysmartdroid"
		android:versionCode="1"
		android:versionName="1.0">
	<application android:label="@string/app_name">
		<activity android:name=".mySmartDroidActivity"
				android:label="@string/app_name">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>
		<activity android:name=".hourActivity"
				android:label="@string/hour_tab">
		</activity>
		<activity android:name=".dayActivity"
				android:label="@string/day_tab">
		</activity>
		<activity android:name=".monthActivity"
				android:label="@string/month_tab">
		</activity>
		<activity android:name=".yearActivity"
				android:label="@string/year_tab">
		</activity>
		<activity android:name=".nightActivity"
				android:label="@string/night_tab">
		</activity>
		<activity android:name=".settingsActivity"
				android:label="@string/settings">
		</activity>
    </application>
</manifest> 
